.section {
  background-color: #92ac3b;
}

.preTitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  color: #faedcd;
}

.title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 72px;
}

.description {
  font-size: 18px;
  line-height: 28px;
  color: #f9f9f9;
  max-width: 1000px;
}

@media only screen and (max-width: 768px) {
  .preTitle {
    font-size: 16px;
    line-height: 20px;
  }

  .title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 64px;
  }

  .description {
    font-size: 14px;
    line-height: 22px;
    max-width: 300px;
  }
}
