.heroSection {
  height: calc(100vh - 96px);
  background-position: center center;
  animation: zoom ease-out 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.heroTitle {
  font-size: 72px;
  line-height: 76px;
  font-weight: 500;
  max-width: 940px;
  color: white;
  margin-bottom: 24px;
}

.introSection {
}

.intro {
  font-size: 32px;
  line-height: 44px;
  color: #5e5e5e;
}

@media only screen and (max-width: 1024px) {
  .heroSection {
    height: calc(100vh - 80px);
    background-size: cover;
    animation: none;
  }
}

@media only screen and (max-width: 768px) {
  .heroTitle {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 25vh;
  }

  .intro {
    font-size: 18px;
    line-height: 24px;
  }
}

@keyframes zoom {
  0% {
    background-size: 140%;
  }
  100% {
    background-size: 120%;
  }
}
