.card {
  min-height: 300px;
}

.dark {
  background-color: var(--P2);

  & :first-child {
    & > h3 {
      color: var(--B1);
    }
    & > p {
      color: var(--S2);
    }
  }
}

.light {
  background-color: var(--S2);

  & :first-child {
    & > h3 {
      color: var(--P1);
    }
    & > p {
      color: var(--S0);
    }
  }
}

.title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 32px;
  text-align: left;
}

.description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
}

.content {
  background-color: var(--B1);

  & > :not(:first-child) {
    border-left: 2px solid var(--S2);
  }
}

.pointTitle {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: var(--P1) !important;
  margin-bottom: 32px;
}

.pointDescription {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: var(--T2) !important;
  text-align: left;
}

.mobilePoint {
  background-color: var(--B1);
  padding: 12px;
  width: 100%;
}

@media (max-width: 640px) {
  .title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
